---
import { getImage } from "astro:assets";

import bgSlide1 from "@assets/img/bg1.jpg";
import bgSlide2 from "@assets/img/bg2.jpg";
import bgSlide3 from "@assets/img/bg3.jpg";
import bgSlide4 from "@assets/img/bg4.jpg";
import bgSlide5 from "@assets/img/bg5.jpg";

const bg1 = await getImage({ src: bgSlide1 });
const bg2 = await getImage({ src: bgSlide2 });
const bg3 = await getImage({ src: bgSlide3 });
const bg4 = await getImage({ src: bgSlide4 });
const bg5 = await getImage({ src: bgSlide5 });

const slides = [
  {
    image: bg1,
    title: "POTENCIA AL SERVICIO<br/>DE TUS DATOS",
    text: "Servidores de alto rendimiento para mover grandes<br/> volúmenes de información.",
    cta: { label: "Explora servidores", href: "https://nobilis.mx" },
  },
  {
    image: bg2,
    title: "PREPARADOS PARA<br/>TRABAJAR A TU NIVEL",
    text: "Estaciones de trabajo de alto desempeño, ejecuta<br/> múltiples tareas con fluidez, estabilidad y velocidad.",
    cta: { label: "Ver estaciones", href: "https://nobilis.mx" },
  },
  {
    image: bg3,
    title: "ORGANIZACIÓN DIGITAL<br/>DESDE UN SOLO LUGAR",
    text: "Soluciones de software para procesos médicos.<br/> Gestiona, conecta y optimiza tu operación diaria con herramientas inteligentes.",
    cta: { label: "Ver soluciones digitales", href: "https://perennity.mx" },
  },
  {
    image: bg4,
    title: "TECNOLOGÍA VISUAL QUE<br/>RESPALDA TUS DIAGNÓSTICOS",
    text: "Monitores de diagnóstico calibrados, estables y listos<br/> para funcionar en hospitales, clínicas y centros de imagen.",
    cta: { label: "Ver monitores", href: "https://beacon.mx" },
  },
  {
    image: bg5,
    title: "ALMACENA Y ENTREGA INFORMACIÓN<br/>SIN COMPLICACIONES",
    text: "Sistemas confiables de respaldo y distribución de datos.<br/> Entrega contenido en discos o USB de forma segura, rápida y profesional.",
    cta: { label: "Solicita información", href: "https://rimage.mx" },
  },
];
---

<section id="hero-slider" class="relative overflow-hidden">
  <div class="relative w-full h-[65vh]">
    <div class="absolute inset-0 transition-all duration-700 ease-in-out">
      {
        slides.map((slide, index) => (
          <div
            class={`absolute inset-0 w-full h-full bg-cover bg-center transition-opacity duration-700 ease-in-out ${index === 0 ? "opacity-100 z-10" : "opacity-0 z-0"}`}
            style={`background-image: url(${slide.image.src});`}
            data-slide={index}
          >
            <div class="bg-black/50 w-full h-full flex items-center justify-start">
              <div class="container mx-auto px-12 xl:mx-auto text-white">
                <h1
                  class="font-light text-2xl md:text-4xl lg:text-5xl xl:text-6xl leading-tight mb-4 uppercase tracking-tight"
                  set:html={slide.title}
                />
                <p
                  class="font-inter text-sm md:text-lg lg:text-xl xl:text-2xl mb-6 font-light"
                  set:html={slide.text}
                />
                <a
                  href={slide.cta.href}
                  target="_blank"
                  class="inline-block bg-primary-1 hover:bg-primary-2 text-gray-50 font-inter uppercase
                  font-regular px-6 py-3 rounded-full transition-colors duration-300 text-sm md:text-base lg:text-lg xl:text-xl"
                >
                  {slide.cta.label}
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <!-- Flechas laterales -->
  <button
    id="prev-slide"
    aria-label="Anterior"
    class="absolute z-10 left-2 md:left-4 top-1/2 -translate-y-1/2 bg-black/50 hover:bg-black/70 text-white p-2 rounded-full transition disabled:opacity-30 hover:cursor-pointer"
  >
    &#10094;
  </button>
  <button
    id="next-slide"
    aria-label="Siguiente"
    class="absolute z-10 right-2 md:right-4 top-1/2 -translate-y-1/2 bg-black/50 hover:bg-black/70 text-white p-2 rounded-full transition disabled:opacity-30 hover:cursor-pointer"
  >
    &#10095;
  </button>

  <!-- Indicadores -->
  <div
    class="absolute bottom-5 left-1/2 transform -translate-x-1/2 flex gap-2 z-20"
  >
    {
      slides.map((_, index) => (
        <button
          class="w-3 h-3 rounded-full bg-white/60 hover:bg-white transition-all hover:cursor-pointer"
          data-index={index}
        />
      ))
    }
  </div>
</section>

<script>
  const slides = document.querySelectorAll("[data-slide]");
  const buttons = document.querySelectorAll("[data-index]");
  const prevBtn = document.getElementById(
    "prev-slide"
  ) as HTMLButtonElement | null;
  const nextBtn = document.getElementById(
    "next-slide"
  ) as HTMLButtonElement | null;
  let current = 0;

  const showSlide = (index: number) => {
    slides.forEach((slide, i) => {
      slide.classList.toggle("opacity-100", i === index);
      slide.classList.toggle("z-10", i === index);
      slide.classList.toggle("opacity-0", i !== index);
      slide.classList.toggle("z-0", i !== index);
    });

    if (prevBtn && nextBtn) {
      prevBtn.disabled = index === 0;
      nextBtn.disabled = index === slides.length - 1;
    }

    current = index;
  };

  buttons.forEach((btn) => {
    btn.addEventListener("click", () => {
      const index = parseInt((btn as HTMLElement).dataset.index as string);
      showSlide(index);
    });
  });

  prevBtn?.addEventListener("click", () => {
    if (current > 0) showSlide(current - 1);
  });

  nextBtn?.addEventListener("click", () => {
    if (current < slides.length - 1) showSlide(current + 1);
  });

  // setInterval(() => {
  //   const next = (current + 1) % slides.length;
  //   showSlide(next);
  // }, 8000);

  showSlide(current);
</script>
